<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>

    <link rel="stylesheet" href="static/css/account_created.css">


</head>
<body>

  <div class="body-container">


    <div class="account_created">
        <h1>Account Has Been Successfully Created</h1><br>
        <button id="login-submit" type="submit">LOGIN</button>
    </div>


    <!-- ######################################################## -->

    <!-- Footer -->
    <footer class="copyright-footer">
      <p>&copy; 2023 Krisada Sinamkam. All rights reserved.</p>
    </footer> 

  </div>

  <script src="static/js/account_created.js"></script>

    
</body>
</html>