<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="static/css/login.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

  <div class="body-container">


    <div class="login-container">
      <div class="sign-in">
        <label class="">LOGIN</label><br>

        <div class="login-label">
          <label class="">* USERNAME OR EMAIL</label><br>
          <input id="username" name="username" type="text" placeholder="Username or Email"><br><br>
          <label class="">* PASSWORD</label><br>
          <input id="password" name="password" type="password" placeholder="Password">
        </div><br>

        <input id="login-submit" type="submit" value="LOGIN">
        <label ><span id="notification-login"></span></label><br>
      </div>



      <div class="create-account">
        <label>Don't have an account?</label><br>

        <input id="registeration-request" type="submit" value="CREATE AN ACCOUNT">
      </div>

    </div>


    <!-- ######################################################## -->

    <!-- Footer -->
    <footer class="copyright-footer">
      <p>&copy; 2023 Krisada Sinamkam. All rights reserved.</p>
    </footer> 

  </div>

  <script type="module" src="static/js/login.js"></script>
  

</body>
</html>



