<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="static/css/otp_login.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>

    <div class="body-container">

        <div class="otp-login-container">
            <div class="otp">
                <label class="">2-STEP VERIFICATION</label><br>

                <div class="otp-login-label">       

                    <label id="notification-otp-email" ></label><br><br>

                    <label class="">ENTER OTP CODE<span style="color: red;"> *</span></label><br>
                    <input id="otpcode" name="otpcode" type="text" placeholder="OTP Code"><br><br>
                    <label id="notification-otp-login" ></label><br><br>
                </div>

                <input id="otp-login-submit" type="submit" value="VERIFY"><br>
                <input id="otp-resend-submit" type="submit" value="RESEND OTP"><br>
                <input id="back-login-page" type="submit" value="GO BACK TO LOGIN PAGE"><br>
            </div>
        </div>


    <!-- ######################################################## -->

    <!-- Footer -->
    <footer class="copyright-footer">
      <p>&copy; 2023 Krisada Sinamkam. All rights reserved.</p>
    </footer> 

  </div>
  
  <script type="module" src="static/js/otp_login.js"></script>

</body>
</html>



