<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>

    <link rel="stylesheet" href="static/css/profile.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

  <div class="body-container">


    <div class="log-out">
        <h1>Login Successfull</h1><br>
        <label >Welcome to your profile, <span id="profile-name"></span></label><br>
        <button id="logout-submit" type="submit">LOGOUT</button>
    </div>


    <!-- ######################################################## -->

    <!-- Footer -->
    <footer class="copyright-footer">
      <p>&copy; 2023 Krisada Sinamkam. All rights reserved.</p>
    </footer> 

  </div>

  <script src="static/js/profile.js"></script>

    
</body>
</html>